* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: inherit;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #F6BEBE;
}

footer {
  background-color: white;
}

body,
button,
input,
select,
textarea {
	font-family: AcuminVariable, serif;
	font-size: 16px;
	line-height: 1.2;
}

a {
  line-height: inherit;
  text-decoration: none;
  color: white;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow: visable;
  font-family: AcuminVariable, serif;
  text-decoration: none;
  outline: none;
	margin: 0;
}

h1 {
  color: #fff;
  font-size: 131px;
  text-transform: uppercase;
	line-height: 0.78;
  transition: all 250ms linear;
	font-variation-settings: 'wght' 900, 'wdth' 115; //'wght' 100-900, 'wdth' 50-115
}

h3 {
  font-size: 28px;
  text-transform: uppercase;
  line-height: 1;
  font-variation-settings: 'wght' 600, 'wdth' 50;
  letter-spacing: 0.1em;
}

@media screen and (max-width : 574px)
{
  h1
  {
    font-size: 76px;
    font-variation-settings: 'wght' 300, 'wdth' 50;
  }
}
@media screen and (min-width : 575px)
{
  h1
  {
    font-size: 96px;
    font-variation-settings: 'wght' 400, 'wdth' 50;
  }
}
@media screen and (min-width : 740px)
{
  h1
  {
    font-size: 120px;
    font-variation-settings: 'wght' 400, 'wdth' 50;
  }
}
@media screen and (min-width : 860px)
{
  h1
  {
    font-size: 120px;
    font-variation-settings: 'wght' 550, 'wdth' 50;
  }
}
@media screen and (min-width : 1120px)
{
  h1
  {
    font-size: 148px;
    font-variation-settings: 'wght' 700, 'wdth' 50;
  }
}
@media screen and (min-width : 1740px)
{
  h1
  {
    font-size: 126px;
    font-variation-settings: 'wght' 800, 'wdth' 92;
  }
}

.site {
	margin: 0 auto;
}

.button {
  font-size: 28px;
  text-transform: uppercase;
  line-height: .8;
  font-variation-settings: 'wght' 800, 'wdth' 50;
  letter-spacing: 0.05em;
  background: white;
  color: black;
  padding: 20px 25px 15px 25px;
  text-decoration: inherit;
  border-radius: 30px;
}

.box-2 .button {
  position: relative;
  bottom: 85%;
  Left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: 0.5s;
  background: #FADD5E;
}

.box-2 .button:hover {
  letter-spacing: 0.1em;
  background: black;
  color: #FADD5E;
  transition: 0.5s;
}

.dashboard {
  padding: 0px 5px;
}

.masthead {
  background-color: #000;
  padding: .75em 1em 0 1em;
  text-align: center;
  border: 5px black solid;
  outline: 5px black solid
  z-index: -1;
}

.logo img{
  width: 100%;
  height: auto;
}

.box {
  overflow: hidden;
}

.box-1 {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #61BBDA;
  border: 5px black solid;
  outline: 5px black solid;
  background-image: url("../main_dancer.png");
  background-position: right;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: auto 1200px;
}

@media screen and (max-width : 560px)
{
  .box-1 {
    background-size: auto 360px;
  }
}

@media screen and (min-width : 561px)
{
  .box-1 {
    background-size: auto 500px;
  }
}

@media screen and (min-width : 840px)
{
  .box-1 {
    background-size: auto 610px;
  }
}

@media screen and (min-width : 1740px)
{
  .box-1 {
    background-size: auto 750px;
  }
}

.box-2 {
  border: 5px black solid;
  outline: 5px black solid;
  /* background-image: url("../shapes.png"); */
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: auto 100%;
  position: relative;
}

.box-3 {
  background-color: #FFF;
  border: 5px black solid;
  outline: 5px black solid;
  padding: 1em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.date{
  flex: 50%;
  text-align: left;
  float: left;
}

.location {
  flex: 50%;
  text-align: right;
  float: right;
}

.time {
  flex: 50%;
  text-align: left;
  float: left;
}

.extra {
  flex: 50%;
  text-align: right;
  float: right;
}

.box-4 {
  background-color: #000;
  border: 5px black solid;
  outline: 5px black solid;
  max-width: 100%;
}

.box-5 {
  background-color: #FADD5E;
  border: 5px black solid;
  outline: 5px black solid;
  max-width: 100%;
}

.artists::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: center;
    background-image: url("../Artist.png");
    opacity: 1;
    z-index: 1;
    transition: opacity .5s ease;
  }

.artists {
  position: relative;
  padding: 1em;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: center;
  background-image: url("../Artist-hover.png");
}

.artists:hover::after {
  opacity: 0;
}

:after,
:before {
    box-sizing: inherit;
  }

.box-6 {
  background-color: #61BBDA;
  border: 5px black solid;
  outline: 5px black solid;
  max-width: 100%;
}

.box-6 .button {
  position: relative;
  bottom: 32%;
  Left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: 0.5s;
}

.box-6 .button:hover {
  background: black;
  color: white;
  transition: 0.5s;
}

/* .beer {
  text-align: center;
  display: block;
  position: relative;
  z-index: 2;
}

.beer-grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    transition: opacity .3s ease;
    background-image: url("../giphy.gif");
    background-repeat: repeat;
    background-position: left 0;
} */

.box-7 {
  background-color: #000;
  border: 5px black solid;
  outline: 5px black solid;
  max-width: 100%;
}

.colophon {
	padding: 4em 2em 2em 2em;
	color: #000;
	text-align: left;
}

.colophon a {
	color: #000;
  text-decoration: inherit;
}

.colophon a:hover,
.colophon a:focus {
	border-bottom: 1px solid #EECFAC;
}

/*--------------------------------------------------------------
CSS Grid layout:
--------------------------------------------------------------*/

@supports (grid-area: auto) {

  @media screen and (max-width: 840px) {

    .site {
      justify-items: stretch;
      align-items: stretch;
      position: relative;
    }

    /* .box {
      display: flex;
      align-items: center;
      justify-content: left;
    } */

    .box-1 {
      padding-top: 90px;
    }

    .box-3 {
      width: inherit;
    }

  }

	@media screen and (min-width: 841px) {

		.site {
			grid-template-columns: 12em auto 12em;
      grid-template-rows: auto auto auto auto;
      justify-items: stretch;
      align-items: stretch;
      max-width: 1100px;
      position: relative;
		}

    .masthead {
      grid-column: 1/4;
      grid-row: 1;
    }

    .dashboard {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 18.5em);
    }

    .grid {
      background: #000;
      display: grid;
      border-bottom: 5px solid #000;
      /* grid-template-columns: auto 12em;
      grid-auto-rows: auto 12em; */
    }

    .box {
      display: flex;
      align-items: flex-end;
      justify-content: left;
    }

    .box-1 {
      grid-column: 1 / span 4;
      grid-row: 1 / span 2;
      padding-top: 150px;
    }

    .box-2 {
      grid-column: 5;
      grid-row: 1 / span 2;
    }

    .box-3 {
      grid-column: 1 / span 4;
      grid-row: 3;
      width: inherit;
    }

    .box-4 {
      grid-column: 5;
      grid-row: 3;
    }

    .box-5 {
      grid-column: 1 / span 2;
      grid-row: 4 / span 2;
    }

    .box-6 {
      grid-column: 3 / span 3;
      grid-row: 4;
    }

    .box-7 {
      grid-column: 3 / span 3;
      grid-row: 5;
    }

		.colophon {
			grid-column: 1/4;
		}

	}


  @media screen and (min-width: 1740px) {

    .site {
      grid-template-columns: 12em auto 12em;
      grid-template-rows: auto auto auto auto;
      justify-items: stretch;
      align-items: stretch;
      max-width: 1600px;
      position: relative;
    }

    .dashboard {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 22em);
    }

}
