* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: inherit;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #F6BEBE;
}

footer {
  background-color: white;
}

body,
button,
input,
select,
textarea {
	font-family: AcuminVariable, serif;
	font-size: 16px;
	line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow: visable;
  color: #fff;
  font-family: AcuminVariable, serif;
  font-size: 131px;
  text-decoration: none;
  outline: none;
	margin: 0;
	text-transform: uppercase;
	line-height: 0.78;
	transition: all 250ms linear;
	font-variation-settings: 'wght' 900, 'wdth' 115; //'wght' 100-900, 'wdth' 50-115
}

@media screen and (max-width : 574px)
{
  h1
  {
    font-variation-settings: 'wght' 200, 'wdth' 50;
  }
}
@media screen and (min-width : 575px)
{
  h1
  {
    font-variation-settings: 'wght' 400, 'wdth' 50;
  }
}
@media screen and (min-width : 675px)
{
  h1
  {
    font-variation-settings: 'wght' 500, 'wdth' 50;
  }
}
@media screen and (min-width : 810px)
{
  h1
  {
    font-variation-settings: 'wght' 600, 'wdth' 70;
  }
}
@media screen and (min-width : 920px)
{
  h1
  {
    font-variation-settings: 'wght' 600, 'wdth' 80;
  }
}
@media screen and (min-width : 1050px)
{
  h1
  {
    font-variation-settings: 'wght' 650, 'wdth' 80;
  }
}
@media screen and (min-width : 1300px)
{
  h1
  {
    font-variation-settings: 'wght' 800, 'wdth' 80;
  }
}
@media screen and (min-width : 1470px)
{
  h1
  {
    font-variation-settings: 'wght' 840, 'wdth' 85;
  }
}
@media screen and (min-width : 1701px)
{
  h1
  {
    font-variation-settings: 'wght' 880, 'wdth' 115;
  }
}

.wrapper {
  padding: 1em 2em 0em 1em;
}

.main {
  padding-top: 180px;
  background-color: #61BBDA;
  border: 5px black solid;
  outline: 5px black solid;
}

.masthead {
  background-color: #fff;
  padding: 35px;
  text-align: center;
  border: 5px white solid;
  outline: 5px white solid
  z-index: -1;
}

.sidebar {
  border: 5px black solid;
  outline: 5px black solid
}

.sidebar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.site {
	margin: 0 auto;
}

.basic-info {
  background-color: #FFF;
  border: 5px black solid;
  outline: 5px black solid;
  padding: 1em;
}

.more-2 {
  background-color: #000;
  border: 5px black solid;
  outline: 5px black solid;
  max-width: 100%;
}

.colophon {
	padding: 10em 12em;
	color: #EECFAC;
	text-align: left;
}

.colophon a {
	color: #EECFAC;
  text-decoration: inherit;
}

.colophon a:hover,
.colophon a:focus {
	border-bottom: 1px solid #EECFAC;
}

/*--------------------------------------------------------------
CSS Grid layout:
--------------------------------------------------------------*/

@supports (grid-area: auto) {

	/* @media screen and (min-width: 1000px) {

		.site {
			max-width: none;
			display: grid;
			grid-template-columns: 12em auto 12em;
		}

		.masthead {
			grid-column: 1/4;
			grid-row: 1/2;
		}

		.main-area {
			grid-column: 2/3;
		}

    .more {
			grid-column: 2/4;
      grid-row: 3/4;
		}

    .sidebar {
      grid-column: 2/4;
      grid-row: 3/4;
    }

		.colophon {
			grid-column: 1/4;
		}

	} */

	@media screen and (min-width: 1140px) {

		.site {
			grid-template-columns: 12em auto 12em;
      grid-template-rows: auto auto auto auto;
      justify-items: stretch;
      align-items: stretch;
      max-width: 1470px;
      position: relative;
		}

    .masthead {
      grid-column: 1/4;
      grid-row: 1;
    }

    .main-area {
      display: grid;
      grid-template-columns: auto 12em;
      grid-auto-rows: auto 12em;
    }

    .main {
      grid-column: 1/3;
    }

    .basic-info {
      grid-column: 1/3;
      grid-row: 2;
    }

    .sidebar {
      display: inherit;
      grid-template-rows: inherit;
      grid-column: 3/4;
      grid-row: 1/2;
    }

    .more-2 {
      grid-column: 3;
      grid-row: 2;
    }

		.colophon {
			grid-column: 1/4;
		}

	}

}
