* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: inherit;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #F6BEBE;
}

footer {
  background-color: white;
}

body,
button,
input,
select,
textarea {
	font-family: AcuminVariable, serif;
	font-size: 16px;
	line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow: visable;
  font-family: AcuminVariable, serif;
  text-decoration: none;
  outline: none;
	margin: 0;
}

h1 {
  color: #fff;
  font-size: 131px;
  text-transform: uppercase;
	line-height: 0.78;
  transition: all 250ms linear;
	font-variation-settings: 'wght' 900, 'wdth' 115; //'wght' 100-900, 'wdth' 50-115
}

h3 {
  font-size: 28px;
  text-transform: uppercase;
  line-height: 1;
  font-variation-settings: 'wght' 600, 'wdth' 50;
  letter-spacing: 0.1em;
}

@media screen and (max-width : 574px)
{
  h1
  {
    font-size: 76px;
    font-variation-settings: 'wght' 300, 'wdth' 50;
  }
}
@media screen and (min-width : 575px)
{
  h1
  {
    font-size: 96px;
    font-variation-settings: 'wght' 550, 'wdth' 50;
  }
}
@media screen and (min-width : 725px)
{
  h1
  {
    font-size: 120px;
    font-variation-settings: 'wght' 550, 'wdth' 50;
  }
}
@media screen and (min-width : 1100px)
{
  h1
  {
    font-size: 131px;
    font-variation-settings: 'wght' 700, 'wdth' 50;
  }
}
@media screen and (min-width : 1740px)
{
  h1
  {
    font-variation-settings: 'wght' 850, 'wdth' 85;
  }
}

.site {
	margin: 0 auto;
}

.dashboard {
  padding: 0px 5px;
}

.masthead {
  background-color: #000;
  padding: .75em 1em 0 1em;
  text-align: center;
  border: 5px black solid;
  outline: 5px black solid
  z-index: -1;
}

.logo img{
  width: 100%;
  height: auto;
}

.box {
  overflow: hidden;
}

.box-1 {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #61BBDA;
  border: 5px black solid;
  outline: 5px black solid;
}

.box-1:before {
  background: url('../main_dancer.png') no-repeat center center/cover;
  position: relative;
  width: 100%;
  height: auto;
}

/* .box-1 img {
  object-fit: cover;
  width: 100%;
  height: auto;
  position: relative;
} */

.box-2 {
  border: 5px black solid;
  outline: 5px black solid
}

.box-2 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.box-3 {
  background-color: #FFF;
  border: 5px black solid;
  outline: 5px black solid;
  padding: 1em;
  width: 100%;
  display: flex;
  height: 200px;
  flex-wrap: wrap;
  align-content: space-between;
}

.date{
  flex: 50%;
  text-align: left;
  float: left;
}

.location {
  flex: 50%;
  text-align: right;
  float: right;
}

.time {
  flex: 50%;
  text-align: left;
  float: left;
}

.extra {
  flex: 50%;
  text-align: right;
  float: right;
}

.box-4 {
  background-color: #000;
  border: 5px black solid;
  outline: 5px black solid;
  max-width: 100%;
}

.box-5 {
  background-color: #FADD5E;
  border: 5px black solid;
  outline: 5px black solid;
  max-width: 100%;
}

.box-6 {
  background-color: #61BBDA;
  border: 5px black solid;
  outline: 5px black solid;
  max-width: 100%;
}

.box-7 {
  background-color: #000;
  border: 5px black solid;
  outline: 5px black solid;
  max-width: 100%;
}

.colophon {
	padding: 6em 4em;
	color: #EECFAC;
	text-align: left;
}

.colophon a {
	color: #EECFAC;
  text-decoration: inherit;
}

.colophon a:hover,
.colophon a:focus {
	border-bottom: 1px solid #EECFAC;
}

/*--------------------------------------------------------------
CSS Grid layout:
--------------------------------------------------------------*/

@supports (grid-area: auto) {

  @media screen and (max-width: 799px) {

    .site {
      justify-items: stretch;
      align-items: stretch;
      position: relative;
    }

    /* .box {
      display: flex;
      align-items: center;
      justify-content: left;
    } */

    .box-1 {
      padding-top: 90px;
    }

    .box-3 {
      width: inherit;
    }

  }

	@media screen and (min-width: 800px) {

		.site {
			grid-template-columns: 12em auto 12em;
      grid-template-rows: auto auto auto auto;
      justify-items: stretch;
      align-items: stretch;
      max-width: 1100px;
      position: relative;
		}

    .masthead {
      grid-column: 1/4;
      grid-row: 1;
    }

    .dashboard {
      grid-template-columns: repeat(5, 20%)
      grid-template-rows: repeat(6, 20em)
    }

    .grid {
      background: #000;
      display: grid;
      border-bottom: 5px solid #000;
      grid-template-columns: auto 12em;
      grid-auto-rows: auto 12em;
    }

    .box {
      display: flex;
      align-items: center;
      justify-content: left;
    }

    .box-1 {
      grid-column: 1 / span 4;
      grid-row: 1 / span 2;
      padding-top: 150px;
    }

    .box-2 {
      grid-column: 5;
      grid-row: 1 / span 2;
    }

    .box-3 {
      grid-column: 1 / span 4;
      grid-row: 3;
      width: inherit;
    }

    .box-4 {
      grid-column: 5;
      grid-row: 3;
    }

    .box-5 {
      grid-column: 1 / span 2;
      grid-row: 4 / span 3;
    }

    .box-6 {
      grid-column: 3 / span 3;
      grid-row: 4;
    }

    .box-7 {
      grid-column: 3 / span 3;
      grid-row: 5 / span 2;
    }

		.colophon {
			grid-column: 1/4;
		}

	}


  @media screen and (min-width: 1740px) {

    .site {
      grid-template-columns: 12em auto 12em;
      grid-template-rows: auto auto auto auto;
      justify-items: stretch;
      align-items: stretch;
      max-width: 1600px;
      position: relative;
    }

}
